<nav class="navbar navbar-expand-lg" id="search-actions-navbar">
  <div class="container">
    <div class="row pad5-top pad5-bottom" style="width:100%">
    	<div class="col-md-0 col-lg-2">
    		&nbsp;
    	</div>
      <div class="col-md-12 col-lg-8">
    		
    		<div class="row" style="text-align:center;">
    			<div class="col-md-2">
    				<%= link_to "DESIGNERS", designers_path, class: 'secondary-link' %>
    			</div>
    			<div class="col-md-2">
    				<%= link_to "OUTERWEAR", root_path, class: 'secondary-link' %>
    			</div>
    			<div class="col-md-2">
    				<%= link_to "TOPS", root_path, class: 'secondary-link' %>
    			</div>
    			<div class="col-md-2">
    				<%= link_to "BOTTOMS", root_path, class: 'secondary-link' %>
    			</div>
    			<div class="col-md-2">
    				<%= link_to "SHOES", root_path, class: 'secondary-link' %>
    			</div>
    			<div class="col-md-2">
    				<%= link_to "ACCESSORIES", root_path, class: 'secondary-link' %>
    			</div>
    		</div>
	      
      </div>
      <div class="col-md-0 col-lg-2">
    		&nbsp;
    	</div>

    </div>
  </div>
</nav>
